<div class="jumbotron jumbotron-fluid">
  <div class= "text-center">
    <h1 class="title-jumbotron">Matchez. Rencontrez. Jouez.</h1>

    <% unless user_signed_in? %>
    <%= link_to "Se connecter", new_user_session_path, class: "btn btn-outline-primary btn-lg btn-main-page" %>
    <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <% else %>
    <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary btn-lg btn-main-page" %>
    <% end %>

  </div>
</div>

<div class="container-fluid">
  <div class="card first-card" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">Salut humain !</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">On sait que c’est toi notre meilleur ami.</p>
      <p class="card-text">Mais avec Whispaw tous les animaux on enfin la chance de trouver leur âme soeur à quatre pattes.</p>
      <p class="card-text">Chat ou chien, trouver l’amour ou se faire des copains, on est là pour rassembler nos 35 millions d’amis…</p>
    </div>
  </div>

  <div class="card second-card" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">Salut humain !</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Inscris toi en deux clics et crée des profils pour tes animaux de compagnie.</p>
      <p class="card-text">Like d’autres « ami »-maux près de chez toi.</p>
      <p class="card-text">Echange avec d’autres humains pour partager nos balades et nous faire nous rencontrer.</p>
    </div>
  </div>
</div>
