<div class="container-fluid">
  <div class="d-flex row mb-3 justify-content-center">
    <div class="col-sm-8 content alert alert-light rounded mx-1 text-dark">
      <span class="lead"><%= message.body %></span>
    </div>
    <div class="col-sm-2 text-center alert alert-success rounded mx-1" >
      <p class= "date-message"><%= Pet.find(message.user.default_pet_id).name%></p>
      <small><%= message.timestamp %></small>
    </div>
  </div>
</div>
