<div class="container">
  <h1>Bienvenue dans le chat</h1>
  <div class="container mt-4">  
    <div id="messages" class="mb-3">
      <%= render @messages %>
    </div>

    <div class="container mb-4">
      <textarea id="message" placeholder="votre message ici" class="form-control">
      </textarea>
    </div>
  </div>
</div>