<div class="container">
  <h1>Bienvenue dans le chat</h1>
  <div id="messages">

  </div>

    <div class="form-controller">
      <textarea id="message" placeholder="votre message ici">
      </textarea>
    </div>

</div>