<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Bonnes nouvelles <%= @user.email %>,</h2>
    <h2>tu as un nouveau match !</h2>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> L'amour n'attend pas,<br>à très vite sur Whispaw !</p>
  </body>
</html>
