<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Ton compagnon à quatre pattes <%= @pet.name %> vient d'être ajouté!</h2>
    <p>
      Maintenant tu peux liker les autres animaux, et les autres animaux peuvent te liker.<br>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.<br>
    </p>
    <p> L'amour n'attend pas,<br>à très vite sur Whispaw !
  </body>
</html>
