<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Bonnes nouvelles <%= @pet.user.email %>,</h2>
    <h2>quelqu'un.e a liké ton profile !</h2>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> L'amour n'attend pas,<br>à très vite sur Whispaw !
  </body>
</html>
