<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Salut <%= @user.email %>, </h2>
    <h2>Bienvenue sur Whispaw !</h2>
    <p>
      Tu t'es inscrit.e sur Whispaw en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> L'amour n'attend pas,<br>à très vite sur Whispaw !</p> 
  </body>
</html>
