<div class="small-jumbotron text-center ">

</div>

<div class="container">
<!-- Search bar disabled for now, need to implement post-MVP -->
  <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search list items" disabled>
  <div id="myDIV" class="my-3">
    <button class="btn btn-outline-primary btn-main-page" disabled>Rechercher</button>
    <button class="btn btn-info" disabled>Another button</button>
    <hr />
    <p></p>
  </div>

  <div class="container text-center">
    <%= link_to "Trouver des Amimaux", pets_path, class:"btn btn-large btn-primary"  %>
  </div>
</div>



