<div class="small-jumbotron text-center ">
</div>
<!-- Search bar will be here, need to implement post-MVP -->
<div class="container text-center">
  <%= link_to "Trouver des Animaux", pets_path, class:"btn btn-large btn-primary"  %>
</div>
</div>



