<td>
  <% respond_to_u = chatroom.other_user(current_user) %>
  <h5><%= link_to "Conversation avec #{respond_to_u.name}, propriétaire de #{other_user_match(respond_to_u).join(" ")}", chatroom_path(chatroom) %></h5>
</td>