<div class="text-center">
  <%=image_tag("kingcat.jpg", class: "small-jumbotron", alt: "")%>
</div>
<div class="container">
  <h2 class="text-center mb-5">Echanger avec les matchs de <%= current_pet.name %></h2>

  <div class="row">
    <div class="col-sm-5 border-left border-right">
      <table>
        <h4 class="py-3 alert-light text-center mb-3">Contacter de nouveaux matchs</h4>
        <% my_pets_matches.each do |match|%>
          <tr class="d-flex justify-content-between wrap">
            <td><h4 class="mx-2"><%= match.name%></h4></td>
          <tr>
        <%end%>
      </table>
    </div>
    <div class="col-sm-7">
      <table>
        <h4 class="py-3 alert-light text-center mb-3">Mes conversations en cours</h4>
        <%= render @chatrooms %>
      </table> 
    </div>
  </div>
</div>

