<div class= "container">
<h1>Nouvelle chatroom</h1>

<%=form_for @chatroom do |f|%>
<div>
<%= f.label "Titre"%>
<%= f.text_field :title, placeholder: 'Nom de votre chatroom', autofocus: true, class: 'form-control'%>
</div>

<%= f.submit "Allons-y!", class: 'btn btn-primary my-3'%>

<%end%>
</div>