<div class="container mt-2 ">
  <a tabindex="0" class="btn btn-sm btn-outline-primary btn-info-match" role="button" data-toggle="popover" data-trigger="focus" title="C'est quoi un tag ?" data-content="Rien n'est plus simple : Un tag, ou une étiquette, est un mot-clé associé à votre animal, qui décrit une de ces caractéristique et va vous permettre de regrouper facilement les animaux contenant le même mot-clé."> Tag ? </a>
  <table class="table table-striped rounded">
  <thead>
    <tr class= "bg-primary text-white text-center">
      <th scope="col">#</th>
      <th scope="col">Tag</th>
    </tr>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
    <tr>
      <th scope="row" class="text-center"><%=tag.id%></th>
      <td class="text-center"><%=tag.value%></td>
    </tr>
  <%end%>
  </tbody>
</table> 
