/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.

 // Required variables bootstrap

 @import "functions";
 @import "minty";
 @import "variables";
 @import "mixins";

 // Optionnal variables bootstrap

 @import "root";
 @import "reboot";
 @import "type";
 @import "images";
 @import "code";
 @import "grid";
 @import "tables";
 @import "forms";
 @import "buttons";
 @import "transitions";
 @import "dropdown";
 @import "button-group";
 @import "input-group";
 @import "custom-forms";
 @import "nav";
 @import "navbar";
 @import "card";
 @import "breadcrumb";
 @import "pagination";
 @import "badge";
 @import "jumbotron";
 @import "alert";
 @import "progress";
 @import "media";
 @import "list-group";
 @import "close";
 @import "modal";
 @import "tooltip";
 @import "popover";
 @import "carousel";
 @import "utilities";
 @import "print";


 @import "bootstrap";
 @import "bootswatch";

 // Icones

 @import "font-awesome";

 // Timeline
 @import "timeline";
 
 // CSS changes

 // All site

html {
  height: 100%;
}

body {
  background-color: #f8f9fa;
  position:absolute;
  top:0;
  right:0;
  left:0;
}

 // Home page when user is not signed in

.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1558929996-da64ba858215?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  align-items: center;
  margin-bottom: 4em;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-jumbotron {
  font-size: 60px;
  color: white;
}

.jumbotron div {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.btn-main-page {
  background-color: white;
  border: white;
  margin-right: 5px;
}

.first-card {
  background-color: none;
  border: none;
  color: #212529;
  margin-bottom: 20px;
}

.second-card {
  margin-left: auto;
  background-color: none;
  border: none;
  color: #212529;
  margin-bottom: 20px;
}

.cat-img-home {
  width:100%;
  height: auto;
}

.dog-img-home {
  width:100%;
  height: auto;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

#footer{
  position: static;
  bottom: 0;
  max-height: auto;
  background-color: $gray-800;
}
  
.text-dog-box {
  float: left;
  width: 50%;
  padding-right: 4em;
  margin-bottom: 11em;
}

.img-dog-box {
  max-width: 50%;
  float: right;
  margin-bottom: 4em;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #00916e;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }
 // Flash

.alert {
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Ubuntu", "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.alert-info {
  color: #28687B;
  border: 1px solid;
  border-color: #D1E9F0;
}

 // Navbar

.bg-primary {
  background-image: linear-gradient(to right, #9d112a, #dd3019);
}

.dropdown-item:hover {
  background-color: #9d112a;
}

.dropdown-item:focus {
  background-color: #6f0c1e;
}

 // Devise

.container-devise {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),url(asset_path( 'background_signup.jpeg' ));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: inherit;
  top: 0;
  right: 0;
  left: 0;
}

.button-back {
  color: white;
  font-size: 1.2rem;
}

.button-back:hover {
  color: white;
}

.button-back:focus {
  color: white;
}

.bg-devise {
  background-color: #f8f9fa;
  font-family: "Ubuntu", "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.input-group-text {
  min-width: 42px;
}

.form-control:focus {
  border-color: #9d112a;
}

.btn-outline-light:hover {
  color: $gray-800;
}
