/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.

 // Required variables bootstrap

 @import "functions";
 @import "minty";
 @import "variables";
 @import "mixins";

 // Optionnal variables bootstrap
 
 @import "root";
 @import "reboot";
 @import "type";
 @import "images";
 @import "code";
 @import "grid";
 @import "tables";
 @import "forms";
 @import "buttons";
 @import "transitions";
 @import "dropdown";
 @import "button-group";
 @import "input-group";
 @import "custom-forms";
 @import "nav";
 @import "navbar";
 @import "card";
 @import "breadcrumb";
 @import "pagination";
 @import "badge";
 @import "jumbotron";
 @import "alert";
 @import "progress";
 @import "media";
 @import "list-group";
 @import "close";
 @import "modal";
 @import "tooltip";
 @import "popover";
 @import "carousel";
 @import "utilities";
 @import "print";
 

 @import "bootstrap";
 @import "bootswatch";

 // Icones
 
 @import "font-awesome";


 // CSS changes

 html {
  height: 100%;
}

body {
  background-color: #f8f9fa;
  position:absolute;
  top:0;
  right:0;
  left:0;
}


.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1558929996-da64ba858215?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  align-items: center;
  margin-bottom: 4em;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-jumbotron {
  font-size: 60px;
  color: white;
}

.jumbotron div {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.btn-main-page {
  background-color: white;
  border: white;
  margin-right: 5px;
}

.first-card {
  background-color: none;
  border: none;
  color: #212529;
  margin-bottom: 20px;
}

.second-card {
  margin-left: auto;
  background-color: none;
  border: none;
  color: #212529;
  margin-bottom: 20px;
}

.cat-img-home {
  width:100%;
  height: auto;
}

.dog-img-home {
  width:100%;
  height: auto;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

#footer{
  position: static;
  bottom: 0;
  max-height: auto;
  background-color: $cyan;
}