

.pet-radio-button {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
      }

        /* Hide the browser's default checkbox */
.pet-radio-button input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

  }

form input[type=number]::-webkit-inner-spin-button,
form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

input[type=number]{
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

input[type=select]{
    outline: 0;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=radio]:checked + span::after {
      content: "\f1b0";
      font: normal normal normal 20px/1 FontAwesome;
      color: #778899;
      padding-left: 5%;
}

.image-upload img{
      width: 80px;
      cursor: pointer;
}

.file-input::after {
    content: "\f196";
    font: normal normal normal 100px/1 FontAwesome;
    color: #778899;
    padding: 10%;
    right: 10%;
    position: relative;
}

.preview-button{
    display: none;
}

@media (max-width:620px){
    .form-border {
        align-self:center;
        margin-bottom:2rem;
    }
}
