// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Homepage

.text-dog-box {
  float: left;
  width: 50%;
  padding-right: 4em;
  margin-bottom: 11em;
}

.img-dog-box {
  max-width: 50%;
  float: right;
  margin-bottom: 4em;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}
