// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// User profile

.info-user {
  align-items: center; 
  margin-bottom: 0;
}

.input-group-text {
  justify-content: center;
}