<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous informer de la modification en cours de votre adresse email pour l'adresse suivante : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous informer que la modification de votre adresse email pour <%= @resource.email %> a bien été prise en compte.</p>
<% end %>
