<p>Bonjour <%= @resource.email %>!</p>

<p>Une requête de lien de modification de mot de passe a été faite pour votre compte.</p>
<p>Vous pouvez procéder à la modification en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origins de cette requête, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne sera pas changer tant que vous n'aurez pas cliqué sur le lien ci-dessus pour le renseigner.</p>
