
 <footer class="main-footer py-5">
 <hr />
    <div class="container text-center">
      <div class="row" style="justify-content: center;">
        <%= link_to "A propos de Whispaw ®"%>
        <%= link_to "Nous contacter"%>
    </div>
    
    <div class="text-center pb-2">© 2020 Copyright :
      <a href="https://www.thehackingproject.org/" class="a-secondary"> Session # 12</a>,
      <a href="https://www.thehackingproject.org/" class="a-secondary"> The Hacking Project</a>
    </div>
    <div class="social d-table mx-auto">
      <a class="instagram mx-3 h4 d-inline-block text-primary" href="#">
        <i class="fa fa-instagram"></i>
        <span class="sr-only">Follow us on Instagram</span>
      </a>
      
      <a class="facebook mx-3 h4 d-inline-block text-primary" href="#">
        <i class="fa fa-facebook"></i>
        <span class="sr-only">Follow us on Facebook<span>
      </a>
      <a class="google-plus mx-3 h4 d-inline-block text-primary" href="#">
        <i class="fa fa-google-plus"></i>
        <span class="sr-only">Follow us on Google Plus</span>
      </a>
    </div>
  </footer>
